## Day3-1 作業
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
rows = 10
alphabet = [chr(i) for i in range(ord('a'), ord('z') + 1)] + [chr(i) for i in range(ord('A'), ord('Z') + 1)]

In [3]:
def randomNation():
    return ''.join(random.sample(alphabet, random.randint(3, 8)))

In [4]:
data = {'國家': [randomNation() for i in range(rows)],
        '人口': [random.randint(10000, 1000000) for i in range(rows)]}
data = pd.DataFrame(data)

In [5]:
data

         國家      人口
0   PFsEifv  179454
1      wRGf  424517
2  skMBgrWy  680923
3   tpKDogL  569019
4  dFWzOlie  566583
5       cdK  811756
6   JTLaRpG  275231
7       LGO  988913
8      kjze  779546
9   UjAcMZW  246939

In [6]:
max_popu = max(data['人口'])
data[data['人口'] == max_popu]

    國家      人口
7  LGO  988913